<div class="maindiv">
    <!-- <nav>
        <ul class="nav inline-items">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Contract</a></li>
       </ul>
    </nav> -->

    <ul class="nav inline-items">
        <li><a class="nav-link" routerLink="home" routerLinkActive="active-route-class">Home</a></li>
        <li><a class="nav-link" routerLink="about" routerLinkActive="active-route-class">About</a></li>
        <li><a class="nav-link" routerLink="products"  routerLinkActive="active-route-class">Products</a></li>
        <li><a class="nav-link" routerLink="contract" routerLinkActive="active-route-class">Contract</a></li>
      </ul>

</div>
