
/* div{
    float: left;
    margin: 10px;
    padding: 20px;
    background: rgb(198, 214, 247);
} */

/* div{
    float: left;
    margin: 10px;
    width: fit-content;
    background: rgb(230, 173, 208);
} */
